/* Sidebar styles */
.sidebar {
  width: 120px;
  background-color: #a8f0ff;
  color: black;
  position: fixed;
  height: 100%;
  padding-top: 20px;
  text-align: center;
  z-index: 1000;
}

/* Sidebar text styling*/
.sidebar .sidebar-text {
  display: block;
  padding: 20px;
  color: black;
  text-decoration: none;
  font-size: 18px;
  transition: all 0.3s ease;
}

/* Hover text styling when hover */
.sidebar .sidebar-text:hover {
  background-color: red;
  color: white;
}

.sidebar-present {
  display: block;
  padding: 20px;
  color: pink;
  background-color: green;
  text-decoration: none;
  font-size: 18px;
  transition: all 0.3s ease;
}

.sidebar-present:hover {
  background-color: red;
  color: white;
}

/* Keeps everything in line for now */
#main-content {
  margin-left: 120px;
  flex: 1;
  padding-bottom: 50px; /* Adds space at the bottom */
}

/* Trying to prevent overlapping */
section {
  padding: 50px 20px;
  background-color: white;
  color: black;
  scroll-margin-top: 120px;
}

/* Header/Home section */
.header {
  position: relative;
  height: 100vh;
  overflow: hidden;
}

/* Image for the header */
.banner-img {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  object-fit: cover;
  z-index: 0;
}

/* Text over the image */
.header-content {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  text-align: center;
  color: white;
  z-index: 1;
}

.header h1 {
  font-size: 48px;
  margin: 0;
  color: white;
}

.header p {
  font-size: 24px;
  margin-top: 10px;
  color: white;
}

body {
  font-family: "Montserrat", sans-serif;
  margin: 0;
  padding: 0;
}

/* Projects Container */
.projects-container {
  display: flex;
  flex-wrap: wrap;
  gap: 20px;
  justify-content: center;
}

/* Each project item */
.projects-item {
  background-color: #a8f0ff;
  border-radius: 8px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  width: 30%;
  overflow: hidden;
  text-align: center;
  transition: transform 0.3s ease, box-shadow 0.3s ease;
}

.projects-item img {
  width: 100%;
  height: 200px;
  object-fit: cover;
}

.projects-item h3 {
  color: black;
}

/* Hover Effect */
.projects-item:hover {
  transform: translateY(-10px);
  text-decoration: underline;
  box-shadow: 0 6px 12px rgba(0, 0, 0, 0.15);
  cursor: pointer;
}

.contact-container {
  width: 80%;
  margin: 50px auto;
}

.contact-box {
  display: flex;
  flex-direction: column;
  width: 100%;
  padding: 20px;
  background-color: #a8f0ff;
  box-sizing: border-box;
}

/* Input row: Responsive stacking */
.input-row {
  display: flex;
  flex-wrap: wrap;
  gap: 20px;
}

.input-group {
  flex-basis: calc(50% - 20px);
}

/* Input and Textarea */
input[type=text],
input[type=email] {
  width: 100%;
  padding: 10px;
  border: none;
  font-family: "Times New Roman", Times, serif;
  border-bottom: 1px solid white;
  box-sizing: border-box;
}

textarea {
  width: 98%;
  resize: none;
  padding: 10px;
  border: none;
  font-family: "Times New Roman", Times, serif;
  border-bottom: 1px solid white;
  box-sizing: border-box;
}

/* Button */
button {
  background: orange;
  text-align: center;
  font-weight: bold;
  width: 100px;
  border: none;
  outline: none;
  height: 35px;
  border-radius: 30px;
  margin-top: 20px;
  align-self: center;
}

/* Hover effect */
button:hover {
  cursor: pointer;
}

/* Contact text styling */
.contact-text h3 {
  color: black;
  font-weight: 600;
  margin-bottom: 30px;
}

/* Flexbox container for the case studies */
.about-container {
  display: flex;
  justify-content: center;
  gap: 20px;
  align-items: stretch;
  flex-wrap: wrap;
  padding: 20px;
}

/* Flexbox item styling */
.about-item {
  display: flex;
  flex-direction: column;
  justify-content: center;
  width: 30%;
  background-color: var(--default-white);
  padding: 15px;
  border-radius: 8px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  position: relative;
  transition: transform 0.3s ease, box-shadow 0.3s ease;
  border: 1px solid #a8f0ff;
}

/* Heading styling */
.about-item h3 {
  margin-left: 0;
  margin-right: 0;
  text-align: center;
  font-weight: bold;
  font-size: 2rem;
  line-height: 2.5rem;
}

/* Paragraph styling */
.about-item p {
  font-weight: 300;
  font-size: 0.8125rem;
  line-height: 1.375rem;
  letter-spacing: 0.4px;
  align-items: center;
}

.about-image {
  width: 100%;
  height: 100%;
}

@media (max-width: 768px) {
  .about-container {
    flex-direction: column;
    align-items: center;
  }
  .about-item {
    width: 80%;
    margin-bottom: 10px;
  }
}
/* Box styles */
.HTML {
  background-color: red;
  float: left;
  width: 50%;
  height: 200px;
}

.HTML h3 {
  text-align: center;
}

.CSS {
  background-color: yellow;
  float: right;
  width: 50%;
  height: 200px;
}

.CSS h3 {
  text-align: center;
}

.JAVA {
  background-color: green;
  float: left;
  width: 50%;
  height: 200px;
}

.JAVA h3 {
  text-align: center;
}

.PHP {
  background-color: blue;
  float: right;
  width: 50%;
  height: 200px;
}

.PHP h3 {
  text-align: center;
}

/* Flexbox container for the case studies */
.scheme-container {
  display: flex;
  justify-content: center;
  gap: 20px;
  align-items: stretch;
  flex-wrap: wrap;
  padding: 20px;
}

/* Flexbox item styling */
.scheme-item {
  display: flex;
  flex-direction: column;
  justify-content: center;
  width: 30%;
  background-color: var(--default-white);
  padding: 15px;
  border-radius: 8px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  position: relative;
  transition: transform 0.3s ease, box-shadow 0.3s ease;
  border: 1px solid #a8f0ff;
}

/* Heading styling */
.scheme-item h3 {
  margin-left: 0;
  margin-right: 0;
  text-align: center;
  font-weight: bold;
  font-size: 2rem;
  line-height: 2.5rem;
}

/* Paragraph styling */
.scheme-item p {
  font-weight: 300;
  font-size: 0.8125rem;
  line-height: 1.375rem;
  letter-spacing: 0.4px;
  align-items: center;
}

/* list styling */
.scheme-item li {
  font-weight: 300;
  font-size: 0.8125rem;
  line-height: 1.375rem;
  letter-spacing: 0.4px;
  text-align: left;
}

/* Buttons */
.scheme-button {
  letter-spacing: 0.4px;
  text-decoration: none;
  display: inline-block;
  text-align: center;
  cursor: pointer;
  padding: 5px 15px;
  text-transform: uppercase;
  font-size: 1.063rem;
  border-radius: 3px;
  color: var(--default-white);
  background-color: #db8c0d;
  border: none;
  font-weight: 400;
  margin: 10px auto;
}

/* Grey line */
.horizontial-line {
  width: 80%;
  height: 1px;
  background-color: #ddd;
  margin: 15px auto;
  border: none;
}

/* Responsive Design */
@media (max-width: 768px) {
  .scheme-container {
    flex-direction: column;
    align-items: center;
  }
  .scheme-item {
    width: 80%;
    margin-bottom: 10px;
  }
}
html {
  scroll-behavior: smooth;
}

/*Genral layout for the body*/
body {
  font-family: "Montserrat", sans-serif;
  margin: 0;
  padding: 0;
  display: flex;
  flex-direction: column;
}

.title-centered {
  width: 100%;
  text-align: center;
  margin-bottom: 30px;
  font-size: 2.5rem;
  color: black;
}

/* Hide my left sidebar and not shown for a second when having to go*/
@media (max-width: 768px) {
  .sidebar {
    width: auto; /* Reduce sidebar width */
    position: static;
  }
  .sidebar .sidebar-text, .sidebar-present {
    font-size: 14px;
    padding: 10px;
  }
  /* Make my image take the slider area top*/
  .banner-img {
    position: absolute;
    top: 0;
    left: 0;
    width: 100vw;
    height: 100vh;
    object-fit: cover;
    z-index: 0;
  }
  /* Adjust header text */
  .header-content {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    text-align: center;
    color: white;
    z-index: 1;
  }
  .header h1 {
    font-size: 36px;
  }
  .header p {
    font-size: 18px;
  }
  /* Males the margin seen left 0 to make the image take that area */
  #main-content {
    margin-left: 0;
  }
}
@media (max-width: 768px) and (max-width: 768px) {
  /* For the Contact Section */
  .contact-container {
    padding: 20px;
  }
  .contact-box {
    width: 100%;
    padding: 20px;
    box-sizing: border-box;
    border: none;
    border-radius: 10px;
    background-color: #a8f0ff;
    color: black;
  }
  .input-group {
    width: 100%;
    margin-bottom: 12px;
  }
  /* Make the textarea and input fields more responsive */
  .input-group input,
  .input-group textarea {
    padding: 12px;
    font-size: 16px;
    margin-bottom: 10px;
  }
  /* Adjust Button */
  button {
    padding: 12px;
    font-size: 14px;
  }
  /* For Projects Section */
  .projects-container {
    flex-direction: column;
    align-items: center;
  }
  .projects-item {
    width: 90%;
    margin-bottom: 20px;
  }
  .projects-item img {
    width: 100%;
    height: auto;
  }
  /* Adjust header text */
  .header h1 {
    font-size: 36px;
  }
  .header p {
    font-size: 18px;
  }
  /* Banner image should still take full viewport */
  .banner-img {
    position: absolute;
    top: 0;
    left: 0;
    width: 100vw;
    height: 100vh;
    object-fit: cover;
    z-index: 0;
  }
}
@media (max-width: 768px) {
  /* --- Projects  section--- */
  /*Makes the boxes stacked on smaller screens*/
  .projects-container {
    display: flex;
    flex-direction: column;
    align-items: center;
  }
  /*Add limitts for better viewsing */
  .projects-item {
    width: 80%;
    margin-bottom: 20px;
    text-align: center;
  }
  /*Makes images the same ratio and looks the same as the wider screens  */
  .projects-item img {
    width: 100%;
    height: auto;
    border-radius: 10px;
  }
  /*Makes the h3 have a smaller title */
  .projects-item h3 {
    font-size: 18px;
    color: black;
    margin-top: 10px;
  }
  /* --- Contact Section --- */
  .contact-container {
    display: flex;
    flex-direction: column;
    align-items: center;
  }
  /*Just the box decorations */
  .contact-box {
    width: 100%;
    max-width: 500px;
    padding: 30px;
    box-sizing: border-box;
    border: 1px solid silver;
    border-radius: 10px;
    background-color: #a8f0ff;
    color: black;
  }
  /* input boxes styles */
  .input-row {
    display: flex;
    flex-direction: column;
  }
  /*Space between the fields */
  .input-group {
    width: 100%;
    margin-bottom: 15px;
  }
  /*Boxes layout */
  .input-group input,
  .input-group textarea {
    width: 100%;
    padding: 10px;
    border: 1px solid white;
    border-radius: 5px;
    box-sizing: border-box;
  }
  /* Textarea details */
  .input-group textarea {
    resize: vertical;
    min-height: 120px;
  }
  /* Button details */
  button {
    background: orange;
    font-weight: bold;
    text-align: center;
    width: 100px;
    border: none;
    outline: none;
    height: 35px;
    border-radius: 30px;
    align-self: center;
    margin-top: 20px;
  }
}
/*Media query for scheme section*/
@media (max-width: 768px) {
  .HTML {
    background-color: red;
    width: 100%;
    height: 200px;
  }
  .CSS {
    margin-top: 10px;
    width: 100%;
  }
  .JAVA {
    margin-top: 10px;
    width: 100%;
  }
  .PHP {
    margin-top: 10px;
    width: 100%;
  }
}

/*# sourceMappingURL=main.css.map */
