/* Styling for consent button */
#back-to-top {
    position: fixed;
    bottom: 0;
    left: 0;
    z-index: 9999; /* Higher z-index to ensure it shows on top of other elements */
    display: flex;
    align-items: center; 
    justify-content: center; 
    background: #75788a;
    border: solid #75788a;
    border-width: 1px 1px 0 0;
    border-radius: 0;
    border-top-right-radius: 10px;
    padding: 10px 20px; /* Add more padding for a larger button */
    cursor: pointer;
}

/* Font-related styling */
#back-to-top a{
    font-weight: 600;
    text-transform: capitalize;
    color: white;
    font-size: 0.8rem;
    text-decoration: none;
}

/* Hover effect for button */
#back-to-top:hover {
    background-color: #6b6d7f;
}