

/* Sidebar styles */
.sidebar {
    width: 120px;
    background-color: #a8f0ff;
    color: black;
    position: fixed;
    height: 100%;
    padding-top: 20px;
    text-align: center;
    z-index: 1000; 
}

/* Sidebar text styling*/
.sidebar .sidebar-text {
    display: block;
    padding: 20px;
    color: black;
    text-decoration: none;
    font-size: 18px;
    transition: all 0.3s ease; 
}

/* Hover text styling when hover */
.sidebar .sidebar-text:hover {
    background-color: red;  
    box-shadow: 3px 3px 5px rgba(0, 0, 0, 0.2);
    transform: translateX(5px); 
    color: white; 
}



